html,body{
         margin:0;
         padding:0;
         width:100%;
}

body{
     font-family:sans-serif;
     background-repeat:no-repeat;
     background-size:cover;
     background-attachment:fixed;
     }

.header{
        width:100%;
        height:100vh;
        }



img{
    margin:0 auto;
    width:150px;
    height:150px;
    border-radius:50%;
    padding:70px;
    }

nav{
    position:fixed;
    width:100%;
    height:50vh;
    }

nav ul{
       list-style:none;
       over-flow:hidden;
       color:white;
       padding:25px;
       text-align:right;
       margin:0;

       }

nav.black ul{
             background:#000;
             }

nav ul li{
          display:inline-block;
          padding:20px;
          }

nav ul li a{
            color:white;
            font-size:40px;
            font-family:sans-serif;
            text-transform:uppercase;
            letter-spacing:2px;
}

.link{
      font-size:21px;
    color:black;
	font-family:Tahoma;
	font-weight:bold;
	background-color:white;
	padding:12px 15px;
	border-radius:30px;
	transition:.4s;
	}

.link:hover{
       transform:scale(1.2);
       cursor:pointer;
       text-transform:uppercase;
}

.content{
         text-align:center;
         }

.content h1{
            font-size:70px;
            color:black;
            font-weight:400;
            transition:0.5s;
            }

.content h1:hover{
                 -webkit-text-stroke:2px blue;
                 color:transparent;
                 }

section{
       background-color:gray;
       }